<% layout('layout/boilerplate') %>
<%- include('layout/partials/nav2') %>
<div style="height:100vh;" class="container">
  <div class="container text-light display-3 text-center d-flex justify-content-center align-items-center gap-3">
    <%= chapterDetailss.phoneme %>
    <button class="btn btn-info rounded-circle text-white fw-bold" 
            style="width: 35px; height: 35px; font-size: 20px; padding: 0;" 
            onclick="togglePopup()">i</button>
  </div>
  
  <div id="popupDialog">
    <div class="popup-box">
      <h5>guidence for <%= guidence.phoneme %></h5>
      <p>"<%= guidence.guide %>".</p>
      <h5>visual Aid</h5>
      <div><img src="/mouthmove/<%= guidence.phoneme %>.jpg" alt="Phoneme Image"></div>
      <button class="btn btn-sm btn-secondary" onclick="togglePopup()">Close</button>
    </div>
  </div>
  
    <div class="d-flex flex-row flex-wrap gap-3">
  
      <% if (chapterDetailss.levels.length !== 0) { %>
        <% chapterDetailss.levels.forEach(ply => { %>
          <div class="card" style="width: 18rem; flex: 0 0 auto;">
            <div class="card-body">
              <h5 class="card-title"><%= ply.Ldata.reply["Level Name"] %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= ply.Ldata.reply["Fantasy Prompt"] %></h6>
              <p class="card-text"><%= ply.Ldata.reply["Speech Exercise"] %></p>
              <p>rate: <%= ply.rate %> | score: <%= ply.score %></p>
            </div>
          </div>
        <% }) %>
      <% } %>
  
      <% if (chapterDetailss.unplay.length !== 0) { %>
        <% chapterDetailss.unplay.forEach(unp => { %>
          <div class="card" style="width: 18rem; flex: 0 0 auto;">
            <div class="card-body">
              <h5 class="card-title"><%= unp.ULdata.reply["Level Name"] %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= unp.ULdata.reply["Fantasy Prompt"] %></h6>
              <p class="card-text">difficulty:<%= unp.difficulty %></p>
  
              <form action="/realtime/<%= chapterDetailss.user_id %>" method="get" style="display: inline;">
                <input type="hidden" name="text" value="<%= unp.ULdata.reply['Speech Exercise'] %>">
                <input type="hidden" name="phoneme" value="<%= chapterDetailss.phoneme %>">
                <button type="submit" class="btn btn-link">Go to Realtime</button>
              </form>
            </div>
          </div>
        <% }) %>
      <% } %>
  
    </div>
  </div>
  <script>
    function togglePopup() {
      const popup = document.getElementById("popupDialog");
      popup.style.display = popup.style.display === "none" ? "flex" : "none";
    }
  </script>
  